## .dockerignore
node_modules

# Ignore local editor settings
.vscode

# Ignore Git repository files
.git

# Ignore .env file
.env.local

# Ignore build folder
dist
build

# Ignore ESLint, Prettier, and other configuration 
.eslint*
.prettier*
.editorconfig
.DS_Store
cypress